@page "/"
@using BlazorApp1.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<div class="row">
    <div class="col-6">
        <input class="form-control" type="text" @bind="CurrentValue" @bind:event="oninput" />
    </div>
    <div class="col-6">
        <input class="form-control" type="text" @bind="CurrentValue" @bind:event="oninput" />
    </div>
</div>

<div class="row">
    <button class="btn btn-primary" @onclick="ChangeValue">变 更</button>
</div>

<ParentComponent />

@code
{
    public int CurrentValue { get; set; } = 0;

    private void ChangeValue()
    {
        CurrentValue ++;
    }
}
